@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
html, body {
    margin: 0;
    padding: 0;
    
    font-family: 'Lora', 'serif';
}
h1{
    font-size: 48pt;
    color:#000; 
}
.btn-main {
    color: #fff;
    border-radius: 30px;
    font-size: 15px;
    display: inline-block;
    background-color: #000000;
}
.btn:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
.btn-main-sm {
    padding: 12px 35px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }

.form-control{
    border-radius: 50px;
    border: 0;
}


.clear{
    background-color: #810e0e;
    border-radius: 30px;
    font-size: 15px;
    border:none;
    color: white;
}
.save{
    background-color: #000000;
    border-radius: 30px;
    font-size: 15px;
    border:none;
    margin-right: 2%;
    color: white;
}

#defaultCanvas0{
    
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.type{
    padding-right: 2%;
}

p, .btn{
    font-family: 'courier';
}